/* 프리텐다드 폰트 설정 */
@import url("https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/variable/pretendardvariable.css");

/* 기본 스타일 설정 */
body {
  font-family: "Pretendard", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

/* 레이아웃 설정 */
.container, .header, .footer{
  max-width: 950px;
  margin: 0 auto;
  padding: 0;
}

/* 반응형 레이아웃 */
@media (max-width: 1200px) {
  .container, .header, .footer{
    max-width: 80%;
  }
}

/* 기본 요소 초기화 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button {
  font-family: inherit; /* 버튼에도 동일한 폰트 적용 */
  cursor: pointer;
}

input,
select {
  font-family: inherit; /* 입력 요소에 동일한 폰트 적용 */
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 6px 16px; 
  background: #636ACC;
  border-radius: 32px;
  color: white;
  font-size: 13px;
  font-weight: 700; 
  cursor: pointer; 
  width: auto; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn:active {
  transform: scale(0.95); 
  background-color: #5058cc; 
}

.btn:hover {
  transform: scale(1.05); 
  background-color: #5058cc;
}